<h1>Shopping Cart</h1>

<div class="row col-10" *ngIf="cart">
    <p>
        Tu tienes {{cart.totalItemsCount}} items en tu carrito de compras.
        <button
            *ngIf="cart.items.length"
            (click)="clearCart()"
            class="btn btn-light btn-sm">Eliminar productos</button>
    </p>

    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Producto</th>
            <th class="text-center" style="width: 230px">Cantidad</th>
            <th class="text-right" style="width: 200px">Precio</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of cart.items">
            <td>
                <div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail"></div>
            </td>
            <td>{{item.title}}</td>
            <td>
                <product-quantity [product]="item" [shopping-cart]="cart"></product-quantity>
            </td>
            <td class="text-right">
                {{item.totalPrice | currency:'USD':true}}
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th class="text-right">{{cart.totalPrice | currency:'USD':true}}</th>
        </tr>
        </tfoot>
    </table>

    <a routerLink="/check-out" *ngIf="cart.items.length" class="btn btn-primary">Pagar</a>
</div>
