<div class="row">

    <div class="col-md-6">
        <form #formProduct="ngForm" (ngSubmit)="save(formProduct.value)">
            <div class="form-group">
                <label for="title">Título</label>
                <input #title="ngModel" [(ngModel)]="product.title" name="title" type="text" id="title" class="form-control" required>
                <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
                    El título es requerido.
                </div>
            </div>
            <div class="form-group">
                <label for="price">Precio</label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input #price="ngModel" [(ngModel)]="product.price" name="price" type="number" id="price" class="form-control" required="" [min]="0">
                </div>
                <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
                    <div *ngIf="price.errors.required">El precio es requerido.</div>
                    <div *ngIf="price.errors.min">El precio mínimo es 0.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="category">Categoría</label>
                <select #category="ngModel" [(ngModel)]="product.category" name="category" id="category" class="form-control" required>
                    <option value=""></option>
                    <option *ngFor="let c of categories$ | async" [value]="c.key">{{ c.payload.val().name }}</option>
                </select>
                <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
                    La categoría es requerida.
                </div>
            </div>
            <div class="form-group">
                <label for="imageUrl">Imagen</label>
                <input #imageUrl="ngModel" [(ngModel)]="product.imageUrl" name="imageUrl" type="text" id="imageUrl" class="form-control" required url>
                <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
                    <div *ngIf="imageUrl.errors.required">La url de la imagen es es requerida.</div>
                    <div *ngIf="imageUrl.errors.url">Ingresa una url válida.</div>
                </div>
            </div>
            <button class="btn btn-primary" [disabled]="formProduct.invalid">Guardar</button>
            <button type="button" (click)="delete()" class="btn btn-danger">Eliminar</button>
        </form>
    </div>

    <div class="col-md-6">
        <product-card [product]="product" [show-actions]="false"></product-card>
    </div>

</div>
